# Firebase Admin SDK keys (Specific files)
appsekolah2026-firebase-adminsdk-*.json

# Allow configuration JSON files
!firebase.json
!package.json
!tsconfig.json
!package-lock.json

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# OS files
Thumbs.db
.DS_Store

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
